/* FILEPATH: /Users/oliver.tucher/Personal/me/client/src/components/organisms/NavBar/style.css */

.navbar {
  background-color: #f8f8f8;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.navbar-nav li {
  margin-right: 10px;
}

.navbar-nav li a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}

.navbar-nav li a:hover {
  color: #555;
}
